@if(dashboardData) {
  <div class="flex flex-col gap-4">

    <!-- TARJETA PRINCIPAL "Inicio" -->
    <div class="rounded-2xl shadow-md p-4 bg-white">
      <h2 class="text-xl font-semibold mb-4">Inicio</h2>

      <div>
        <p class="font-medium">Bienvenido de nuevo, {{ dashboardData.nombre }}!</p>
        <p class="text-gray-600 mt-1">Aquí tienes un resumen de tu información de salud.</p>
        <button 
          pButton 
          label="Ir a Hoy" 
          icon="pi pi-arrow-right" 
          class="p-button-primary"
          routerLink="/paciente-hoy">
        </button>
      </div>

      <!-- Recordatorio medicamentos -->
      <p class="font-medium">Recordatorio de medicamentos</p>
      <div class="mt-2 flex items-center gap-3 p-3 bg-gray-100 rounded-xl">
        @for (m of dashboardData.medicamentos; track $index) {
          <i class="pi pi-user text-gray-500"></i>
          <span>{{ m.nombre }} {{ m.dosis }}</span>
        }        
      </div>

      <!-- Alerta -->
      <div class="mt-4 p-3 rounded-xl bg-green-100 text-green-800">
          <p class="font-semibold">Alerta de riesgo</p>
          <p>{{ dashboardData.alertaDescripcion }}</p>
      </div>

      <!-- Próxima cita -->
      <p class="font-medium mt-4">Próxima cita</p>
      <div class="mt-1 p-3 rounded-xl bg-gray-50 border">
        {{ dashboardData.proximaCita | date:'dd-MM-yyyy' }}
      </div>

      <!-- Próximo control -->
      <p class="font-medium mt-4">Próximo control</p>
      <div class="mt-1 p-3 rounded-xl bg-gray-50 border">
        {{ dashboardData.proximoControl }}
      </div>

      <!-- Tareas pendientes -->
      <p class="font-medium mt-4">Tareas pendientes</p>
      <div class="mt-2 space-y-2">
        @for (t of dashboardData.tareas; track $index) {
          <div
            class="flex items-center gap-3 p-2 rounded-xl border bg-gray-50">
            <i class="pi pi-check-circle text-gray-600"></i>
            <span>{{ t }}</span>
          </div>
        }        
      </div>

      <div style="margin-top: 60px;">
        <button pButton type="button" label="Cerrar sesión" class="w-full mt-3" (click)="logout()" severity="secondary"></button>
      </div>
    </div>

  </div>
}

