.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 450px;
  padding: 2rem;
  border-radius: 20px;
  background: var(--surface-card);
  box-shadow: var(--card-shadow);
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}