<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="p-d-flex p-jc-between p-ai-center mb-3">
  <p-breadcrumb [model]="breadcrumbItems" [home]="home" />
  <h2><span class="pi pi-users" style="font-size: 2rem"></span> Pacientes</h2>
  <button pButton label="Nuevo Paciente" icon="pi pi-plus" (click)="nuevoPaciente()"></button>
</div>

<p-table
  #dt2
  [value]="pacientes" 
  [loading]="loading" 
  [paginator]="true" 
  [rows]="10" 
  responsiveLayout="stack"
  [globalFilterFields]="['nombre', 'tipoDocumento', 'documento', 'email', 'telefono', 'direccion', 'eps', 'estado']">

  <ng-template #caption>
    <div class="flex">
        <p-iconfield iconPosition="left" class="ml-auto">
            <p-inputicon>
                <i class="pi pi-search"></i>
            </p-inputicon>
            <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
        </p-iconfield>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th>
      <th>Identificación</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Dirección</th>
      <th>EPS</th>
      <th>Estado</th>
      <th style="width: 200px">Acciones</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-p>
    <tr>
      <td>{{ p.nombre }}</td>
      <td>{{ p.tipoDocumento | uppercase }} - {{ p.documento }}</td>
      <td>{{ p.email }}</td>
      <td>{{ p.telefono }}</td>
      <td>{{ p.direccion }}</td>
      <td>{{ p.eps }}</td>
      <td>
        <span [ngClass]="p.estado === 'activo' ? 'text-green-600' : 'text-red-600'">
          {{ p.estado === 'activo' ? 'Activo' : 'Inactivo' }}
        </span>
      </td>
      <td>
        <div class="flex gap-2 align-items-center">
            <button 
              pButton 
              icon="pi pi-pencil" 
              class="mr-2"
              pTooltip="Editar paciente"
              (click)="editarPaciente(p)"></button>

            <button 
              pButton 
              icon="pi pi pi-heart"
              class="mr-2"
              pTooltip="Ver medicamentos"
              severity="help"
              [routerLink]="['/medicamentos', p.idPaciente]"></button>

            @if (p.estado === 'activo') {
                <button pButton icon="pi pi-ban" class="p-button-danger" (click)="desactivar(p)" pTooltip="Desactivar paciente"></button>          
            }        

            @if (p.estado === 'inactivo') {
                <button pButton icon="pi pi-check" class="p-button-success" (click)="activar(p)" pTooltip="Activar paciente"></button>        
            } 
        </div>               
      </td>
    </tr>
  </ng-template>
</p-table>

<app-paciente-form
  [visible]="showModal"
  [paciente]="pacienteSeleccionado"
  (close)="onModalClose()">
</app-paciente-form>
